html{
    height: 100%;
}

/*------MOBILE LAYOUT-------*/

body{
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    padding: 0;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0;
}

.logo{
    padding: 2rem;
    width: 6.3rem;
    margin:0;
}

.hero-image-desktop{
    display: none;
}
.hero-image-mobile{
    width: 100%;
}

.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    padding-top: 2.5rem;
}

h1{
    font-size: clamp(2.50rem, 1.97rem + 2.25vw, 4.00rem);
    letter-spacing: 0.28em;
    line-height: 1.05;
    color: hsl(0, 6%, 24%);
    margin: 1.5rem 2rem 0 2rem;
}
p{
    font-size: clamp(0.88rem, 0.83rem + 0.19vw, 1.00rem);
    line-height: 1.5;
    margin:1rem 2rem;
}

.soft-red{
    color:hsl(0, 36%, 70%);
}
.thin{
    font-weight: 300;
}

/*----form and its components----*/
form{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 82%;
    max-width: 28rem;
    height: 46px;
    border-radius: 23px;
    margin: 1.4rem 0;
    border: 1px solid hsl(0, 36%, 70%);
}
form:invalid{
    border: 1px solid hsl(0, 93%, 68%);
}

input{
  padding-left:1.5rem;
   flex-grow: 2;
   border-radius: 23px;
   border: none;
   background: none;
   box-shadow: none;
   font-family: 'Josefin Sans', sans-serif;
    font-size: clamp(0.88rem, 0.83rem + 0.19vw, 1.00rem);
    font-weight: 600;
    color: hsl(0, 6%, 24%);
   
}
input:focus{
    outline: none;
}
input:hover{
    cursor: pointer;
}

::placeholder{
    color:hsl(0, 36%, 70%);
    opacity: 50%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: clamp(0.88rem, 0.83rem + 0.19vw, 1.00rem);
}

button{
    width: 4rem;
    height: 100%;
    border-radius: 23px;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 5px 20px hsl(0, 36%, 70%);
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: -1px -1px 0 0;  
    padding:0;
}

button:hover{
    cursor: pointer;
    opacity: 60%;
}

.arrow{
    padding-left: 5px;
}

#error{
    position: relative;
    margin-top: 0.8rem;
    padding-bottom: 1.5rem;
    font-size: clamp(0.88rem, 0.83rem + 0.19vw, 1.00rem);
}
#excl-mark{
    display: none;
    padding-right: 1rem;
}


/*---------- DESKTOP LAYOUT------------ */

@media (min-width: 850px) {
    body{
        background-image: url(images/bg-pattern-desktop.svg);
        width: 100%;
        background-size: 60%;
    }
    .hero-image-mobile{
        display:none;
    }

    .hero-image-desktop{
        display: block;
        height: 100%;
    }

    .container{
        display: block;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    .logo-wrapper{
        position: relative;
        float: left;
       width: 57.7%;
    }
    .logo{
        width: auto;
        margin-left:16%;
        margin-top: 2rem;
    }

    .image{
        position: relative;
        float:right;
        width: 42.3%;
        height: 100%;
    }
    

    .main-info{
        display: block;
        float:left;
        width: 57.3%;
        position: relative;
        font-size: 16px;
        text-align: left;
        
    }
    h1{
        margin-left: 16%;
        margin-right: 2rem;
        padding: 2.5rem 2rem 0 2rem;
    }
    p{
        line-height: 1.8;
        margin-left: 16%;
        padding: 0.5rem 2rem 0 2rem;
        max-width: 27rem;

    }

    /*----form and its components----*/

    form{
        height: 54px;
        border-radius: 27px;
        margin: 2.5rem auto auto 20%;
        width: 75%;
    }

    input{
        border-radius: 27px;
    }

    button{
        width:6rem;
        border-radius: 27px;
    }

    #error{
        margin-left:20%;
        padding-left: 1.5rem;
    }
}